# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Name some libraries used for Data Science
* List Data Science tools
* Knowing how to evaluate simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL
* Java/Scala

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Seaborn
* Matplotlib
* Dplyr
* SQLAlchemy

|Data Science Tools|
|------|
|Jupyter Notebook|
|Rstudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
a(200/60)

200 minutes are 3.3333333333333335 in hours

## Author:
Kenan Eliyan